.input {
  width: 40%;
  height: 2em;
  border-radius: 5px;
  margin-top: 2em;
  padding: 12px;
  margin-bottom: 2em;
  outline: none;
  border: 2px solid lightgray;
  margin-left: 30%;
}

::placeholder {
  color: darkgray;
  font-size: 16px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.image {
  width: 100%;
  margin: 1em;
}

@media (min-width: 760px) {

  .image {
    width: 21%;
    margin: 1.2em;
  }

}
